html{
    background-color: cornsilk;
}
body{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

html a {
    text-decoration: none;
    color:black;
    font-family: nulshock, Arial;
}

html input {
    text-decoration: none;
    color:black;
    font-family: Consolas, Arial;
}

html label {
    text-decoration: none;
    color:black;
    font-family: misa, Arial;
}

html h1 {
    font-family: misa, Arial;
    font-size: 50px;
    margin:20px 0;
    margin-bottom: 0px;
}

html dd a{
    font-family: Consolas,Arial;
}

#setup{

}
#content{
    display: flex;
    flex-direction: column;
    padding: 15px 50px 70vh 50px;
}

#content #ui{
    display: flex;
    flex-direction: row;
}
#gameboard{
    display: flex;
    flex-shrink: 5;
}
#gameboard tr{
    display: flex;

}

#gameboard tr td{
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#gameboard tr td a{
    display: none;
}

#gameboard form{
    display: flex;
    align-items: center
}
#player0 .pawn{
    background-color: red;
}
#player1 .pawn{
    background-color: blue;
}
.pawn{
    border-width: 18px;
    border-radius: 45px;
    border-style: outset;
    width: 60px;
    height: 60px;
    padding: 3px;
    border-color: white;
}

.has_powerup input{
    outline-width:3px;
    outline-style:dotted;
    outline-color:black;
}

.powerup{
  border-width: 6px;
  background-color: orangered;
  border-radius: 30px;
  border-style: ridge;
  width: 25px;
  height: 25px;
  border-color: white;
  margin: 7px;
}
#red{
    color: red;
}

#blue{
    color:blue;
}

#powers ul{
    width: 300px;
}

#powers ul li {
    text-decoration: none;
    margin: 1px ;
    padding: 1px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#collected_powers dl{
    display: flex;
    flex-direction: column;
    border-style: ridge;
    border-width: 10px;
    border-color: #D0DFDF;
    padding: 7px;
}

#collected_powers dl div{
    display: flex;
    flex-direction: row;
    width: 300px;
}
.desc{
    display:none;
}

div:hover + .desc{
    display: block;
}

#collected_powers dl dt{
    width: 100%;
}

#collected_powers input{
    margin: 0 5px;
}

.inputs{
    margin:20px;
    padding:10px;
}
.movement{
    background: none;
    scale: 4;
    color: #7e33bb;
    border-style: none;
    cursor:alias;
}

@keyframes idle {
    to {background-color: green}
}

@font-face {
font-family: "nulshock";
src: url("/static/font/nulshock bd.otf") format("opentype");
}
@font-face {
font-family: "misa";
src: url("/static/font/13_Misa.TTF");
}
