#content{
    display: flex;
    flex-direction: column;
}

#content #ui{
    display: flex;
    flex-direction: row;
}

#gameboard tr td{
    border:black 3px groove;
    width: 90px;
    height: 90px;
}

#red{
    color: red;
}

#blue{
    color:blue;
}

#side-panel{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
}