#content{
    display: flex;
    flex-direction: column;
}

#content #ui{
    display: flex;
    flex-direction: row;
}
#gameboard{
    display: flex;
    flex-shrink: 5;
}
#gameboard tr{
    display: flex;

}

#gameboard tr td{
    border:black 3px groove;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center

}
#gameboard tr td a{
    display: none;
}

#gameboard form{
    display: flex;
    flex-direction: column;
    align-items: center
}
#player0 .pawn{
    background-color: red;
}
#player1 .pawn{
    background-color: blue;
}
.pawn{
    border-width: 18px;
  border-radius: 45px;
  padding: 6px;
  border-style: outset;
  width: 60px;
  height: 60px;
  padding: 3px;
}

.has_powerup input{
    outline:3px dotted black
}

.powerup{
  border-width: 6px;
  background-color: orangered;
  border-radius: 30px;
  border-style: ridge;
  width: 25px;
  height: 25px;
  border-color: white;
  margin: 7px;
}
#red{
    color: red;
}

#blue{
    color:blue;
}

#side-panel{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
}

#collected_powers ul li {
    text-decoration: none;
    margin: 1px ;
    padding: 1px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
}

#collected_powers dl{
    display: flex;
    flex-direction: column;
}

#collected_powers dl div{
    display: flex;
    flex-direction: row;
}

#collected_powers dl dt{
    width: 150px;
}

#collected_powers input{
    margin: 0px 5px;
}
