<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="/static/tile.css" />
        <link rel="script" href="/static/script.js" />

    </head>
    <header>
    {% block header %}
    {% endblock %}
    </header>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            <a>Filip Duber</a>
            {% endblock %}
        </div>
    </body>
</html>