{%  extends "base.html" %}

{% block title %} Game - QuadTers {% endblock %}

{% block content %}
    {% block board %}
        {% block debug %}
        {{ movement }}
        {{ game.selected}}
        {% endblock %}
        <table id="gameboard">
            {% for y in range(8) %}
            <tr>
                {% for x in range(10) %}
                <td>
                    <!--Tile movement/info-->
                    {{game.board.gameboard[y][x][0]}}

                    <!--Pawn movement-->
                    {% if (y,x) in movement%}
                        <form method="post">
                        <input type="hidden" name='action' value='move'>
                        <input type="hidden" name='y' value={{ y }}>
                        <input type="hidden" name='x' value={{ x }}>
                        <input type="submit" value="MOVE" >
                        </form>
                    {% endif %}
                    <!--Pawn action/info-->
                    {% if game.board.gameboard[y][x][1]%}
                        {% if game.board.gameboard[y][x][1].owner == game.players[0] %}
                        <form method="post" id="red">
                        {% else %}
                            <form method="post" id="blue">
                        {% endif %}
                        {{game.board.gameboard[y][x][1]}}

                        <!--Pawn selection-->
                        <input type="hidden" name='action' value='select'>
                        <input type="hidden" name='y' value={{ y }}>
                        <input type="hidden" name='x' value={{ x }}>
                        <input type="submit" value="SELECT" >

                        </form>
                    {% endif %}

                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {% endblock %}
    {% block UI %} {% endblock %}
{% endblock %}