{%  extends "base.html" %}

{% block title %} Hotseat - QuadTers {% endblock %}

{% block content %}
    <form method="post">
        <label for="name1">Player 1 </label>
        <input id="name1" name="player0" placeholder="name" value="Blue Booster">
        <label for="name2">Player 2 </label>
        <input id="name2" name="player1" placeholder="name" value="Red Menace">
        <input type="submit" value="Begin game">
        </form>

    <div>
        <a href="/">Back to menu</a>
    </div>
{% endblock %}