{%  extends "base.html" %}

{% block title %} Match - QuadTers {% endblock %}

{% block header %}
    <h1>{{ turn.name }} Turn!</h1>
    <meta http-equiv="refresh" content="10" />
{% endblock %}

{% block content %}
    <div id="ui">
    {# Board #}
    <table id="gameboard">
        {% for y in range(8) %}
        <tr>
            {% for x in range(10) %}
            <td
            {% if game.board.gameboard[y][x][0].state == 'destroyed' %}
                class="destroyed"
            {% elif game.board.gameboard[y][x][0].height == 0 %}
                class="normal"
            {% elif game.board.gameboard[y][x][0].height == -1 %}
                class="neg"
            {% elif game.board.gameboard[y][x][0].height == 1 %}
                class="pos"
            {% elif game.board.gameboard[y][x][0].height == -2 %}
                class="negneg"
            {% elif game.board.gameboard[y][x][0].height == 2 %}
                class="pospos"
            {% endif %}
            >

                {# Tile info #}
                {# {{game.board.gameboard[y][x][0]}} #}
                {# Powerup info #}
				{% if game.board.gameboard[y][x][2] %}
                    <div class="powerup" style="color:orange" ></div>
                {% endif %}
                {# Tile - available movement #}
                {% if (y,x) in movement%}
                    <form method="post">
                    <input type="hidden" name='action' value='move'>
                    <input type="hidden" name='y' value={{ y }}>
                    <input type="hidden" name='x' value={{ x }}>
                    <input class="movement" type="submit" value="➥" >
                    </form>
                {% endif %}


                {# Pawn info/color #}
                {% if game.board.gameboard[y][x][1] %}

                    {# Player distinction #}
                    {% if game.board.gameboard[y][x][1].owner == game.players[0] %}
                        <form id="player0"
                    {% else %}
                        <form id="player1"
                    {% endif %}
                    {% if game.board.gameboard[y][x][1].collected_powerups  %}
                        class="has_powerup"
                    {% endif %}
                            method="post">

                    {# Pawn selection #}
                            <input type="hidden" name='y' value={{ y }}>
                            <input type="hidden" name='x' value={{ x }}>

                        {% if game.board.gameboard[y][x][1] == selected %}
                            <input type="hidden" name='action' value='deselect'>
                            <input class="pawn" style="animation:idle 2s infinite" type="submit" value="">
                        {% elif game.board.gameboard[y][x][1].owner == turn %}
                            <input type="hidden" name='action' value='select'>
                            <input class="pawn"style="cursor:grab;"  type="submit" value="" >
                        {% else %}
                            <input class="pawn" type="button">
                        {% endif %}
                    </form>

                {% endif %}

            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    {# Powerup #}
    <div id="side-panel" >
        <div id="powers">
        {% if selected %}
            <ul>
            {% for power in selected.collected_powerups %}
                <li id="collected_powers">
                    <dl>
                        <div>
                            <dt><a>{{ selected.powerups.description_dict[ power ][0] }} : {{ selected.collected_powerups.get(power) }} </a></dt>
                            <form method="post">
                                <input type="hidden" name="action" value="powerup" >
                                <input type="hidden" name="powerup" value="{{ power }}" >
                                <input type="submit" value="ACTIVATE" >
                            </form>
                        </div>
                        <dd class="desc" ><a>{{ selected.powerups.description_dict[ power ][1] }}</a></dd>
                    </dl>

                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
        <!--<div id="all_powers"><div>-->
    </div>

    </div>
{% endblock %}

{% block footer %}
    {# DEBUG Info #}
    <p style="display: inline">
        <a> {{ movement }} | {{ game.selected }} |</a></p>

        <form method="post" style=" display: inline; padding: 10px 10px 10px 10px ">
            <input type="hidden" name="action" value="skip" >
            <input type="submit" style="background-color:rebeccapurple; color:red;" value="SKIP TURN">
        </form>


    <p><a>Recreated by Filip Duber</a></p>
{% endblock %}